.env
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/
data/bronze/**
data/silver/**
data/gold/**
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
models/**
!models/.gitkeep
mlruns/
mlartifacts/
*.db
*.duckdb
*.parquet
*.csv
*.xlsx
*.zip
*.log
dbt/target/
dbt/logs/
dbt/.user.yml
.local/
